beadando/src/main/java/polcSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cim"
    			type="xs:string" />
	<xs:element name="szerzo"
            	type="xs:string" />
    <xs:element name="kiadaseve" 
    			type="xs:int" />
</xs:schema>
